body {
    font-family: "Poppins", sans-serif;
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
        url("/img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.hero-text {
    margin: 0 8rem;
}

#header {
    font-size: 4rem;
    font-weight: bold;
}

.section-img {
    border-radius: 42% 58% 70% 30% / 46% 39% 61% 54%;
    box-shadow: -1px 11px 40px 4px #fdebb5;
}

.bg-theme-primary {
    background-color: #ffc107;
}

.bg-theme-secondary {
    background-color: #fdebb5;
}

footer {
    overflow: hidden;
}
